<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Introdução ao Vue Js 3</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="app">
        <div v-for="(pokemon, index) in pokemons" :key="pokemon.id">
            <ul>
                <li><img :src="pokemon.img" alt="pokemon.nome"></li>
                <li>
                    <h2>{{pokemon.nome}}</h2>
                </li>
                <li>
                    <ul v-for="(vantagem, index) in tipos.find(tipo => tipo.id === pokemon.id).vantagens" :key="index">
                        <li>{{vantagem}}</li>
                    </ul>
                </li>
                <li>
                    <ul v-for="(fraqueza, index) in tipos.find(tipo => tipo.id === pokemon.id).fraquezas" :key="index">
                        <li>{{fraqueza}}</li>
                    </ul>
                </li>
                <li>
                    <p>{{tipos.find(tipo => tipo.id === pokemon.id).imunidades}}</p>
                </li>
            </ul>
        </div>
    </div>

    <script src="app.js"></script>
        
    <script>
        const mountedApp = app.mount("#app")
    </script>
</body>
</html>